@charset "utf-8";
/* CSS Document */

img{
    min-width: 250px;
    min-height: 250px;
}

body{
    background-color: ivory;
}

h1{
    font-size: 3em;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    text-decoration: underline;
}

h2{
    text-align: center;
    font-size: 2em;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

ul{
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
}